body {
    background-color: black;
    background-image: url(images/newback.jpg);
    background-position: center center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #080602;


}

#quik {
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 5px;
}

#quik a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#quik img {
    border-radius: 5px;
}

#gif {

    height: auto;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 5px;
    border-color: #080602;
    background-color: rgba(127, 204, 255, 0.794);
    align-content: space-evenly;
}

#gif-2 {

    height: auto;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 5px;
    border-color: #080602;
    background-color: rgba(127, 204, 255, 0.794);
    align-content: space-evenly;
}