body {
    background-color: black;
    background-image: url(images/newback.jpg);
    background-position: center center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #080602;


}

#but {
    aspect-ratio: 3/2;
    background-color: rgba(196, 251, 255, 0.494);

}

#contain {

    width: 150px;

}